<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="container">
      <h3>Edit an event</h3>
      <div class="jumbo">
        <form action="/events/<%=event._id%>?_method=PUT" method="post">
          <label for="title">Title</label>
          <input type="text" name="title" value="<%= event.title%>" />
          <label for="img">Image </label><br />
          <input type="text" name="img" value="<%= event.img%>" />
          <label for="title">Description</label><br />
          <input
            type="text"
            name="description"
            value="<%= event.description%>"
          />
          <label for="title">Location </label>
          <input
            type="text"
            name="location"
            value="<%= event.location%>"
          /><br />
          <label for="title">Start Date </label>
          <input type="date" name="startDate" value="<%= event.startDate%>" />
          <label for="title">Start Time </label>
          <input type="time" name="startTime" value="<%= event.startTime%>" />
          <label for="title">End Date </label>
          <input type="date" name="endDate" value="<%= event.endDate%>" />
          <label for="title">End Time </label>
          <input type="time" name="endTime" value="<%= event.endTime%>" />
          <label for="price">Price </label><br />
          <input
            type="number"
            name="price"
            min="0"
            step=".01"
            value="<%= event.price%>"
          />
          <label for="qty">Total Tickets </label>
          <input
            type="number"
            name="maxTickets"
            pattern="[0-1000]*"
            min="0"
            value="<%= event.number%>"
          /><br />
          <input
            type="submit"
            name="submit"
            value="Update Event"
            class="button"
          />
        </form>
      </div>
    </div>
  </body>
</html>
