<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head.ejs %>
  </head>

  <body>
      <% include ../partials/nav.ejs %>
<header id="main-header">
          

    <h2>Curated Events @ MBC</h2>
    <h3>Labrador Park  |  23 Nov 2019  |  8am to 12pm</h3></div>
</header>
    <section id="about">
      <p>
        Discover the latest events to make<br/><br/> 
        work and play better.
      </p>
    </section>
    <section id="eventsmgt">
        <div class = "fixed-action-btn">
          <a href="/events/new" class="btn waves-effect waves-light green white-text">Create an event</a>
        </div>
    </section>
    <section id="details">
        <div class="container">
    <% for(let i=0; i<events.length; i++) { %>
            <div>
                <div class="row">
                    <div class="col s4">4-columns (one-half)</div>
                    <div class="col s4">4-columns (one-half)</div>
                    <!-- <div class="col s4"> -->
                      <div class="card">
                        <div class="card-image">
                          <img src="<%= events[i].img %>">
                        </div>
                        <div class="card-content">
                            <span class="card-title"><a href="/events/<%=events[i]._id%>"><h5><%= events[i].title %></h5></a></span>
                            <a href="/events/<%=events[i]._id%>"><%= events[i].description %></a><br/><br/>
                            <a href="/events/<%=events[i]._id%>"><%= events[i].location %></a><br/><br/>
                            <a href="/events/<%=events[i]._id%>"><%= events[i].startDate %></a>&nbsp &nbsp
                            <a href="/events/<%=events[i]._id%>"><%= events[i].startTime %></a>
                        </div>
                        <div class="card-action">
                          <a href=<a href="/registration/new/<%=events[i]._id%">Register</a>
                        </div>
                      </div>
                    </div>
                  </div>
    <% } %>
        </div>
        </section>
        
  </body>
</html>
