<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <title>Index</title>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
<header id="main-header">
    <nav id="navbar">
            <ul>
              <li><a href="/sessions/new">Log In</a></li>
              <li><a href="/users/new">Sign up</a></li>
            </ul>
          </nav>
    <h2>Curated Events @ MBC</h2>
    <h3>Labrador Park  |  23 Nov 2019  |  8am to 12pm</h3></div>
</header>
    <section id="about">
      <p>
        Discover the latest events curated<br/><br/> 
        to change the way we work and play.
      </p>
    </section>
    <section id="details">
        <div class="container">
    <% for(let i=0; i<events.length; i++) { %>
            <div>
                <div class="row">
                    <div class="col s6 m7">
                        <!-- <div class="row">
                            <div class="col s6"></div>
                            <div class="col s6"></div>
                            <div class="col s6"></div>
                          </div> -->
                                
                      <div class="card">
                        <div class="card-image">
                            <!-- <a href="/events/<%=events[i]._id%>"><%= events[i].img %></a> -->
                                <!-- <a href="javascript:nextImage('mainImg')"><img src="Images/next_img.png" alt=""></a> -->
                          <img src="/Images/Arts01Doublebill.png">
                          <span class="card-title"><a href="/events/<%=events[i]._id%>"><h5><%= events[i].title %><</h5></a></span>
                        </div>
                        <div class="card-content">
                            <a href="/events/"><%= events[i].description %></a>
                        </div>
                        <div class="card-action">
                          <a href="/registration/new">Register</a>
                        </div>
                      </div>
                    </div>
                  </div>
    <% } %>
        </div>
        </section>
  </body>
</html>
