<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    
    <header>
      <div id = "showtitle">
      <%=event.title%><br/>
      </div>
    </header>

      <div id ="showimg">
      <img src="/<%= event.img %>" />
      <a href="/events/<%=event._id%>/edit"><br/>
      </div>
      
      <section id="showdescription">
      <%=event.description%>
      </section><br/><br/>

      <form>
        <input class = "button" type = "button" value = "Edit Event"
        onclick=<a href="/events/edit"/><br/><br/>
        </form>

      <!-- delete button here -->
      <form action="/events/<%=event._id%>?_method=DELETE" method="post">
        <input class="button" type="submit" value = "Delete Event"><br/><br/>
      </form>
      
      <form>
        <a href="/events" class="button">Back to Events</a>
      </form>
    </section>
  </body>
</html>
